### Creating Pandas DataFrame

#### Using DataFrame constructor pd.DataFrame()

The pandas DataFrame() constructor offers many different ways to create and initialize a dataframe.

#### Method 0:

In [1]:
import numpy as np
import pandas as pd

In [2]:
# method 0
# Initialize a blank dataframe 

df = pd.DataFrame()
print(df)
print(df.shape)

# Initialize a blank dataframe with coulmn names and keep adding

df1 = pd.DataFrame(columns=['Name','Age','Address'])
print(df1)

# Add records to dataframe using the .loc function
df1.loc[0] = ['Anil',23,'Delhi']
df1.loc[1] = ['Ram',34, 'EDelhi']
print(df1)

Empty DataFrame
Columns: []
Index: []
(0, 0)
Empty DataFrame
Columns: [Name, Age, Address]
Index: []
   Name  Age Address
0  Anil   23   Delhi
1   Ram   34  EDelhi

In [3]:
# Add records to dataframe using the .loc function
df1.loc[0] = ['Anil',23,'Delhi']
df1.loc[1] = ['Ram',34, 'EDelhi']
df1.loc[3] = ['Himani',23,'FBD']
print(df1)

     Name  Age Address
0    Anil   23   Delhi
1     Ram   34  EDelhi
3  Himani   23     FBD

#### Method 1:
Using numpy array in the DataFrame constructor. Pass a 2D numpy array — each array is the corresponding row in the dataframe

In [4]:
# Pass a 2D numpy array - each row is the corresponding row required in the dataframe

data = np.array([['India','INR','Hindi'],
                 ['USA','Dollar','Eng'],
                ['UK','Pound','Eng']])

# pass column names in the columns parameter 

df2 = pd.DataFrame(data, columns=['Country','Currency','Language'])
df2

  Country Currency Language
0   India      INR    Hindi
1     USA   Dollar      Eng
2      UK    Pound      Eng

#### Method 2:

Using dictionary in the DataFrame constructor. Dictionary Keys become Column names in the dataframe. Dictionary values become the values of columns. Column values are combined in a single row according to the order in which they are specified

In [5]:
# Creating a dictionary

data = {'year': [2014, 2018,2020,2017], 
        'make': ["toyota", "honda","hyndai","nissan"],
        'model':["corolla", "civic","accent","sentra"]
       }

# Creating a dataframe using above dictionary
df3 = pd.DataFrame(data)
df3

   year    make    model
0  2014  toyota  corolla
1  2018   honda    civic
2  2020  hyndai   accent
3  2017  nissan   sentra

#### Method 3:

Using a list of dictionaries in the DataFrame constructor. Each dictionary is a record. Dictionary Keys become Column names in the dataframe. Dictionary values become the values of columns

In [6]:
data = [{'year': 2014, 'make': "toyota", 'model':"corolla"}, 
        {'year': 2018, 'make': "honda", 'model':"civic"}, 
        {'year': 2020, 'make': "hyndai", 'model':"nissan"}, 
        {'year': 2017, 'make': "nissan" ,'model':"sentra"}
       ]

# pass column names in the columns parameter 
df4 = pd.DataFrame(data)
df4

   year    make    model
0  2014  toyota  corolla
1  2018   honda    civic
2  2020  hyndai   nissan
3  2017  nissan   sentra

#### Method 4:

Using dictionary in the from_dict method. Dictionary Keys become Column names in the dataframe. Dictionary values become the vaues of columns. Column values are combined in a single row according to the order in which they are specified. ```pd.DataFrame.from_dict(data)``

In [7]:
data = {'year': [2014, 2018,2020,2017], 
        'make': ["toyota", "honda","hyndai","nissan"],
        'model':["corolla", "civic","accent","sentra"]
       }

# pass column names in the columns parameter 
# using pd.DataFrame.from_dict(...)

df5 = pd.DataFrame.from_dict(data)
df5

   year    make    model
0  2014  toyota  corolla
1  2018   honda    civic
2  2020  hyndai   accent
3  2017  nissan   sentra

### Using pandas library functions — read_csv

#### Method 5:

From a csv file using read_csv method of pandas library. This is one of the most common ways of dataframe creation for EDA. Delimiter (or separator) , header and the choice of index column from the csv file is configurable. By default, separator is comma, header is inferred from first line if found, index column is not taken from the file. Here is how the file looks like:

In [8]:
df6 = pd.read_csv("DataSets/forbes_2022_billionaires.csv", )
df6

,rank,personName,age,finalWorth,year,month,category,source,country,state,...,organization,selfMade,gender,birthDate,title,philanthropyScore,residenceMsa,numberOfSiblings,bio,about
0,1,Elon Musk,50.0,219000.0,2022,4,Automotive,"Tesla, SpaceX",United States,Texas,...,Tesla,True,M,1971-06-28,CEO,1.0,NaN,NaN,Elon Musk is working to revolutionize transpor...,Musk was accepted to a graduate program at Sta...
1,2,Jeff Bezos,58.0,171000.0,2022,4,Technology,Amazon,United States,Washington,...,Amazon,True,M,1964-01-12,Entrepreneur,1.0,"Seattle-Tacoma-Bellevue, WA",NaN,Jeff Bezos founded e-commerce giant Amazon in ...,"Growing up, Jeff Bezos worked summers on his g..."
2,3,Bernard Arnault & family,73.0,158000.0,2022,4,Fashion & Retail,LVMH,France,NaN,...,LVMH Moët Hennessy Louis Vuitton,False,M,1949-03-05,Chairman and CEO,NaN,NaN,NaN,Bernard Arnault oversees the LVMH empire of so...,"Arnault apparently wooed his wife, Helene Merc..."
3,4,Bill Gates,66.0,129000.0,2022,4,Technology,Microsoft,United States,Washington,...,Bill & Melinda Gates Foundation,True,M,1955-10-28,Cofounder,4.0,"Seattle-Tacoma-Bellevue, WA",NaN,Bill Gates turned his fortune from software fi...,"When Gates was a kid, he spent so much time re..."
4,5,Warren Buffett,91.0,118000.0,2022,4,Finance & Investments,Berkshire Hathaway,United States,Nebraska,...,Berkshire Hathaway,True,M,1930-08-30,CEO,5.0,"Omaha, NE",NaN,"Known as the ""Oracle of Omaha,"" Warren Buffett...","Buffett still lives in the same Omaha, Nebrask..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2663,2578,Zhang Yuqiang,66.0,1000.0,2022,4,Manufacturing,Fiberglass,China,NaN,...,NaN,True,M,1955-09-01,NaN,NaN,NaN,NaN,"Zhang Yuqiang chairs Zhenshi Holding Group, a ...",NaN
2664,2578,Zhou Ruxin,59.0,1000.0,2022,4,Technology,Navigation,China,NaN,...,NaN,True,M,1963-03-01,NaN,NaN,NaN,NaN,"Zhou Ruxin chairs Beijing BDStar Navigation, a...",NaN
2665,2578,Wen Zhou & family,57.0,1000.0,2022,4,Manufacturing,chemicals,China,NaN,...,NaN,True,M,1965-03-06,NaN,NaN,NaN,NaN,"Zhou Wen chairs Shanghai Pret Composites, a su...",NaN
2666,2578,Zhou Yifeng & family,43.0,1000.0,2022,4,Energy,liquefied petroleum gas,China,NaN,...,NaN,True,F,1978-07-11,NaN,NaN,NaN,NaN,Zhou Yifeng chairs Shenzhen-listed Oriental En...,NaN
2667,2578,Zhuang Kuilong & family,59.0,1000.0,2022,4,Manufacturing,polyester,China,NaN,...,NaN,True,M,1962-06-15,NaN,NaN,NaN,NaN,"Zhuang Kuilong chairs Xinfengming Group, a man...",NaN

### Using pandas library functions — read_excel

#### Method 6:
From an excel file using read_csv method of pandas library. This is one of the most common ways of dataframe creation for EDA. Delimiter (or separator) , header and the choice of index column from the excel file is configurable. By default, separator is comma, header is inferred from first line if found, index column is not taken from the file. Here is how the file looks like:

In [9]:
df7 = pd.read_excel('~\Superstore.xls')
df7

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [10]:
df7 = pd.read_excel('~\Superstore.xls', sheet_name=[0,2])
df7

{0:       Row ID        Order ID Order Date  Ship Date       Ship Mode  \
 0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
 1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
 2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
 3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
 4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
 ...      ...             ...        ...        ...             ...
 9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
 9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
 9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
 9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
 9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

      Customer ID     Customer Name    Segment        Country             City  \
 0       CG-12520       Claire Gute   Consumer  United States        Henderson
 1       CG-12520       Claire Gute   Consumer  United States        Henderson
 2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
 3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
 4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
 ...          ...               ...        ...            ...              ...
 9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
 9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
 9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
 9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
 9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

       ... Postal Code  Region       Product ID         Category Sub-Category  \
 0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
 1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
 2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
 3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
 4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
 ...   ...         ...     ...              ...              ...          ...
 9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
 9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
 9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
 9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
 9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                            Product Name     Sales  Quantity  \
 0                     Bush Somerset Collection Bookcase  261.9600         2
 1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
 2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
 3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
 4                        Eldon Fold 'N Roll Cart System   22.3680         2
 ...                                                 ...       ...       ...
 9989                             Ultra Door Pull Handle   25.2480         3
 9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
 9991                              Aastra 57i VoIP phone  258.5760         2
 9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
 9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

       Discount    Profit
 0         0.00   41.9136
 1         0.00  219.5820
 2         0.00    6.8714
 3         0.45 -383.0310
 4         0.20    2.5164
 ...        ...       ...
 9989      0.20    4.1028
 9990      0.00   15.6332
 9991      0.20   19.3932
 9992      0.00   13.3200
 9993      0.00   72.9480

 [9994 rows x 21 columns],
 2:               Person   Region
 0      Anna Andreadi     West
 1        Chuck Magee     East
 2     Kelly Williams  Central
 3  Cassandra Brandow    South}

### Using pandas library functions — read_json

#### Method 7:

From a json file using read_json method of pandas library when the json file has a record in each line. Setting lines=True mean Read the file as a json object per line. Here is how the json file looks like:

In [11]:
# Creating a json file

df7.to_json('superstore.json')

# Reading a json file

df8 = pd.read_json('superstore.json')
df8

AttributeError: 'dict' object has no attribute 'to_json'

#### Method 8:

From a string of csv records using read_csv method of pandas library. This is particularly useful when we dont want to create a file but we have record structures handy- all we do is convert a csv record “string” to a file handle using StringIO library function.

In [ ]:
import io

# f is a file handle created from a csv like string
# StringIO(string)

f= 'year,make,model\n2014,toyota,corolla\n2018,honda,civic\n2020,hyndai,accent\n2017,nissan,sentra'
f = io.StringIO(f)
df9 = pd.read_csv(f)
df9

#### Method 9:

From a string of json records using read_json method of pandas library. This is particularly useful when we dont want to create a file but we have json record structures handy.

In [ ]:
from io import StringIO
# Home Work

#### Method 10:

One of the most interesting ones — read tables from an HTML page using the pandas library built in read_html. This generates a list of dataframes; behind the scenes it scrapes the html page for any <table> tags and tries to capture the table into a dataframe. Even if there is only one table in the page, a list of dataframes is created — so it needs to be accessed using list subscript. The example below shows how to capture an HTML page and then load the tables — this uses the requests library to get the HTML content.

In [ ]:
!pip install html5lib

In [ ]:
import requests,pandas
url = 'https://www.goodcarbadcar.net/2020-us-vehicle-sales-figures-by-brand'
r = requests.get(url)

#if the response status is OK (200)
if r.status_code == 200:
    # from the response object, pass the response text 
    # to read_html and get list of tables as list of dataframes
    
     car_data_tables = pandas.read_html(r.text)

# display the first table
car_data_tables[0]

In [24]:
import requests
url = 'https://www.goodcarbadcar.net/2020-us-vehicle-sales-figures-by-brand/'
r = requests.get(url)
# print(r.text)
# if the response status is OK (200)
if r.status_code == 200:
#     # from the response object, pass the response text 
#     # to read_html and get list of tables as list of dataframes
    
     car_data_tables = pd.read_html(r.text)

# # display the first table
print(car_data_tables)

ValueError: No tables found matching pattern '.+'

### From other dataframes

#### Method 11:

As a copy of another dataframe.

In [ ]:
df_copy = df.copy()   # copy into a new dataframe object
df_copy = df          # make an alias of the dataframe(not creating 
                      # a new dataframe, just a pointer)

In [ ]:
# as a new object using .copy() method - new dataframe object created independent of old one
a = pd.DataFrame({'year': [2019],'make': ["Mercedes"],'model':["C-Class"]})
b = a.copy()
# change old one
a['year'] = 2020
# new copy does not reflect the change
b

In [ ]:
# as variable copy - new variable is just an alias to the old one
a = pd.DataFrame({'year': [2019],'make': ["Mercedes"],'model':["C-Class"]})
b = a
# change old one
a['year'] = 2020
# alias reflects the change
b

#### Method 12:

Vertical concatenation — one on top of the other

In [ ]:
data1 = [        
        {'year': 2018, 'make': "honda", 'model':"civic"}, 
        {'year': 2020, 'make': "hyndai", 'model':"nissan"}, 
        {'year': 2017, 'make': "nissan" ,'model':"sentra"}
       ]
df1 = pd.DataFrame(data1)
data2 = [{'year': 2019, 'make': "bmw", 'model':"x5"}]
df2 = pd.DataFrame(data2)
# concatenate vertically
# NOTE: axis = 'index' is same as axis = 0, and is the default 
# The two statements below mean the same as the one above
df3 = pd.concat([df1,df2], axis = 'index') 
#OR
df3 = pd.concat([df1,df2], axis = 0)
# OR
df3 = pd.concat([df1,df2])
df3

In [ ]:
df3 = pd.concat([df1,df2]).reset_index()
#OR
df3 = pd.concat([df1,df2], ignore_index = True)
df3

#### Method 13:

Horizontal concatenation — append side by side, not joined by any key

In [ ]:
data1 = [{'year': 2014, 'make': "toyota", 'model':"corolla"}, 
        {'year': 2018, 'make': "honda", 'model':"civic"}, 
        {'year': 2020, 'make': "hyndai", 'model':"nissan"}, 
        {'year': 2017, 'make': "nissan" ,'model':"sentra"}
       ]
df1 = pd.DataFrame(data1)
data2 = [{'year': 2019, 'make': "bmw", 'model':"x5"}]
df2 = pd.DataFrame(data2)
df3 = pd.concat([df1,df2], axis = 'columns')
#OR
df3 = pd.concat([df1,df2], axis = 1)
df3

#### Method 14:

Horizontal concatenation — equivalent of SQL join.
Inner join

In [ ]:
data1 = [{'year': 2014, 'make': "toyota", 'model':"corolla"}, 
        {'year': 2018, 'make': "honda", 'model':"civic"}, 
        {'year': 2020, 'make': "hyndai", 'model':"nissan"}, 
        {'year': 2017, 'make': "nissan" ,'model':"sentra"}
       ]
df1 = pd.DataFrame(data1)
data2 = [{'make': 'honda', 'Monthly Sales': 114117}, 
        {'make': 'toyota', 'Monthly Sales': 172370}, 
        {'make': 'hyndai', 'Monthly Sales': 54790}
       ]
df2 = pd.DataFrame(data2)
# inner join on 'make'
# default is inner join
df3 = pd.merge(df1,df2,how = 'inner',on = ['make'])
df3 = pd.merge(df1,df2,on = ['make'])
df3

In [ ]:
Left join

# for a left join , use how = 'left'
df3 = pd.merge(df1,df2,how = 'left',on = ['make'])
df3

#### Method 15:

As a transpose of another dataframe:

In [ ]:
# To transpose a dataframe - use .T method
df4 = df3.T
# To rename columns to anything else after the transpose
df4.columns = (['column1','column2','column3','column4'])
df4

#### Method 16:

Conversion to one-hot columns (used for modeling with learning algorithms) using pandas get_dummies function.

One-Hot is basically a conversion of a column value into a set of derived columns like Binary Representation Any one of the one-hot column set is 1 and rest is 0.

If we know that a car has body types = SEDAN, SUV, VAN, TRUCK, then a Toyota corolla with body = ‘SEDAN’ will become one-hot encoded to

    body_SEDAN   body_SUV    body_VAN   body_TRUCK
    1             0               0         0


Each one hot column is basically of the format 

    <original_column_name>_<possible_value>

#### Below is an example:

In [ ]:
data1 = [{ 'make': "toyota", 'model':"corolla", 'body':"sedan"}, 
        {'make': "honda", 'model':"crv", 'body':"suv"}, 
        {'make': "dodge", 'model':"caravan", 'body':"van"}, 
        {'make': "ford" ,'model':"f150", 'body':"truck"}
       ]
df1 = pd.DataFrame(data1) 

df2 = pd.get_dummies(df1,columns = ['body'])
df2