## What is Pandas Series

Pandas Series is a one-dimensional array that is capable of storing various data types (integer, string, float, python objects, etc.). We can easily convert the list, tuple, and dictionary into Series using the Series() method. In pandas Series, the row labels of Series are called the index. The Series can have only one column. A List, NumPy Array, Dict can be turned into a pandas Series.   

### Pandas Series vs DataFrame?

As explained above, pandas Series is a one-dimensional labeled array of the same data type whereas DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. 

In a DataFrame, each column of data is represented as a pandas Series.
DataFrame column can have a name/label but, Series cannot have a column name.

DataFrame can also be converted to Series and single or multiple Series can be converted to a DataFrame. Refer to pandas DataFrame Tutorial for more details and examples on DataFrame.

### Pandas.series() Constructor

Below is the syntax of pandas Series Constructor, which is used to create Pandas Series objects.

#### Syntax:
    Pandas.Series(data,index,dtype,copy)

where,

- data: The data contains ndarray, list, constants.
- Index: The index must be unique and hashable. np.arrange(n) if no index is passed.
- dtype: dtype is also a data type.
- copy: It is used to copy the data. The data contains ndarray, list, constants.

## Create Pandas Series

Pandas Series can be created in multiple ways, From array, list, dict, and from existing DataFrame.

### 1 Create Series using array

Before creating a Series, first, we have to import the NumPy module and use array() function in the program. If the data is ndarray, then the passed index should be in the same length, if the index is not passed the default value is range(n).

In [15]:
# import pandas

import pandas as pd

# Create Series from python list

li = ['C','C++','Java']

ser1 = pd.Series(li)
print(ser1)
print(type(ser1))

# Create Series from python tuple

li1 = ('C','C++','Java')

ser2 = pd.Series(li1)
print(ser2)
print(type(ser2))

# Create Series from python set

set1 = {'C','C++','Java'}

ser3 = pd.Series(set1)
print(ser3)
print(type(ser3))

0       C
1     C++
2    Java
dtype: object
<class 'pandas.core.series.Series'>
0       C
1     C++
2    Java
dtype: object
<class 'pandas.core.series.Series'>

TypeError: 'set' type is unordered

In [16]:
import pandas as pd
# Create a Series object from a list
names = pd.Series(['Mark', 'Rita', 'Vicki', 'Justin', 'John', 'Michal'])
# Display the Pandas series object
print(names)

0      Mark
1      Rita
2     Vicki
3    Justin
4      John
5    Michal
dtype: object

In [22]:
# Create pandas Series with custom index

li1 = ('C','C++','Java')

ser2 = pd.Series(li1, index=['R1','R2','R3'])
print(ser2)
print(type(ser2))

R1       C
R2     C++
R3    Java
dtype: object
<class 'pandas.core.series.Series'>

### 2. Create Series using Dict

A Dict can be used as input. Keys from Dict are used as Index and values are used as a column.

In [17]:
# Create a Dict from a input

Now let’s see how to ignore Index from Dict and add the Index while creating a Series with Dict.

In [18]:
# To See index from Dict and add index while creating a Series.

### 3. Create Series using List

Below is an example of creating DataFrame from List.

In [19]:
#Creating DataFrame from List

### 4. Create Empty Series

Sometimes you would require to create an empty Series. you can do so by using its empty constructor.

In [20]:
import pandas as pd

## Convert a Series into a DataFrame?

To convert Series into DataFrame, you can use pandas.concat(), pandas.merge(), DataFrame.join().

## Convert pandas DataFrame to Series?

To convert DataFrame to Series. As I explained in the beginning, every column in a DataFrame is a Series. hence, we can convert single or multiple columns into Series.

- Single DataFrame column into a Series (from a single-column DataFrame)
- Specific DataFrame column into a Series (from a multi-column DataFrame)
- Single row in the DataFrame into a Series

### 1. Convert a single DataFrame column into a series:

Let’s create a DataFrame with a single column. By using DataFrame.squeeze() to convert the DataFrame into a Series:

### 2. Convert a specific DataFrame column into a series:

If you have a DataFrame with multiple columns, and you’d like to convert a specific column into a series.

For example, if we a multiple-column DataFrame

In [10]:
# create DataFrame with multiple columns
import pandas as pd
data = {'Courses': ['Spark', 'PySpark', 'Python'],
        'Duration':['30 days', '40 days', '50 days'],
        'Fee':[20000, 25000, 26000]
        }
df = pd.DataFrame(data, columns = ['Courses', 'Duration', 'Fee'])
print(df)
print (type(df))

   Courses Duration    Fee
0    Spark  30 days  20000
1  PySpark  40 days  25000
2   Python  50 days  26000
<class 'pandas.core.frame.DataFrame'>

### 3. Convert DataFrame Row into a Series

Above, we have seen converting DataFrame columns into Series, here, I will explain converting rows into Series.

In [11]:
my_series = df.iloc[2].squeeze()
print(my_series)
print (type(my_series))

Courses      Python
Duration    50 days
Fee           26000
Name: 2, dtype: object
<class 'pandas.core.series.Series'>

## Merge DataFrame and Series?

1. Construct a dataframe from the series.
2. After that merge with the dataframe.
3. Specify the data as the values, multiply them by the length, set the columns to the index and set params for left_index and set the right_index to True.

#### Syntax for merge with the DataFrame:

    df.merge(pd.DataFrame(data = [s.values] * len(s), columns = s.index), left_index=True, right_index=True)